
    <div class="singupform">
        <h1>Registro de Usuario</h1>
        <form [formGroup]="form" (ngSubmit)="signUp()">

        <mat-card class="example-card" appearance="outlined">

        <mat-form-field  class="username">
            <mat-label>Ingresa tu nombre de usuario</mat-label>
            <input matInput placeholder="Nombre de usuario." formControlName="username" required>
            <div class="error" *ngIf="form.get('username')?.invalid && form.get('username')?.touched">
                <small *ngIf="form.get('username')?.errors?.['required']">El nombre de usuario es obligatorio.</small>
                <small *ngIf="form.get('username')?.errors?.['minlength']">Debe tener al menos 4 caracteres.</small>
                <small *ngIf="form.get('username')?.errors?.['pattern']">Solo letras, números y guiones bajos.</small>
        </div>
        </mat-form-field>



        <mat-form-field  class="fullname">
            <mat-label>Ingresa tu nombre completo</mat-label>
            <input matInput placeholder="Nombre completo." formControlName="fullname" required>
            <div class="error" *ngIf="form.get('fullname')?.invalid && form.get('fullname')?.touched">
                <small *ngIf="form.get('fullname')?.errors?.['required']">El nombre de usuario es obligatorio.</small>
                <small *ngIf="form.get('fullname')?.errors?.['pattern']">Solo letras y espacios.</small>
            </div>
        </mat-form-field>

        <mat-form-field  class="email">
            <mat-label>Ingresa tu email</mat-label>
            <input matInput placeholder="Email de usuario." formControlName="email" required>
            <div class="error" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
                <small *ngIf="form.get('email')?.errors?.['required']">El correo electrónico es obligatorio.</small>
                <small *ngIf="form.get('email')?.errors?.['email']">Debe ser un email válido.</small>
            </div>
        </mat-form-field>

        <mat-form-field  class="phonenumber">
            <mat-label>Ingresa tu número de telefono</mat-label>
            <input matInput placeholder="Número de telefono." formControlName="phonenumber" required>
            <div class="error" *ngIf="form.get('phonenumber')?.invalid && form.get('phonenumber')?.touched">
                <small *ngIf="form.get('phonenumber')?.errors?.['required']">El número de telefóno es obligatorio.</small>
                <small *ngIf="form.get('phonenumber')?.errors?.['pattern']">Debe incluir su número con 9 dígitos.</small>
            </div>
        </mat-form-field>

        <mat-form-field  class="password">
            <mat-label>Ingresa una contraseña válida.</mat-label>
            <input matInput [type]="'password'" placeholder="Contraseña." formControlName="password" required>
            <div class="error" *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
                <small *ngIf="form.get('password')?.errors?.['required']">La contraseña es Obligatoria</small>
                <small *ngIf="form.get('password')?.errors?.['pattern']">La contraseña debe incluir una mayúscula, una minúscula y un número.</small>
                <small *ngIf="form.get('password')?.errors?.['minlength']">La contraseña debe contener al menos 6 caracteres.</small>
            </div>
        </mat-form-field>

        <div>
            <button mat-raised-button type="submit" [disabled]="!form.valid"> Crear cuenta </button>
        </div>

        </mat-card>
        
        </form>

        <a class="message" [routerLink]="'/sign-in'" style="cursor: pointer; text-decoration: none;">
            ¿Tienes una cuenta? Inicia Sesión
        </a>

    </div>